<div class="add-todo-form text-center">
    <h1> Add Todo</h1>

    <div class="form-group form-inline">
        <input type="text" class="form-control input-lg" id="" placeholder="Add todo..." autofocus #todoText (keyup)="0">
        <button (click)="addTodo($event, todoText)" type="submit" class="btn btn-primary" [disabled]="todoText.value.length < 1">Create</button>
    </div>
</div>
<div class="todo-list">
    <div *ngFor="let todo of todos" class="form-group form-inline">
        <div class="col-md-1">
            <input type="checkbox" [checked]="todo.isCompleted" (click)="updateStatus(todo)">
        </div>
        <div class="col-md-7">
            <span *ngIf="!todo.isEditMode" [class.completed]="todo.isCompleted">{{todo.title}}</span>
            <input type="text" class="form-control" *ngIf="todo.isEditMode" [(ngModel)]="todo.title" (keydown)="updateTodoTitle(todo, $event)">
            <input type="button" class="form-control" *ngIf="todo.isEditMode" class="btn btn-warning" value="Cancel" (click)="cancelEdit(todo)">
        </div>
        <div class="col-md-4">
            <input type="button" class="btn btn-danger pull-right" value="Delete" (click)="showConfirmDelete(todo)">
            <input type="button" class="btn btn-default pull-right" (click)="toggleEditMode(todo)" [disabled]="todo.isCompleted" [value]="todo.isEditMode ? 'Save' : 'Edit'">
        </div>
    </div>
</div>